{% macro inline(url = "", credit = "", caption = "") %}
    <div class="imagebreak">
        <img class="img-fluid" alt="" width="100%" src="{{url}}">
        <div class="containerPhotoCredit">{{credit}}</div>
        {% if caption %}
            <div class="containerPhotoCaption">{{caption}}</div>
        {% endif %}
    </div>
{% endmacro %}

{% macro fullwidth(url = "", credit = "", caption = "") %}
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-12 col col-md-offset-0" alignment="true">
    <div class="imagebreak">
        <div class="img-fluid">
            <img class="img-fluid" src="{{url}}" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">{{credit}}</div>
            <div class="containerPhotoCaption" alignment="true">{{caption}}</div>
        </div>
    </div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">
{% endmacro %}

{% macro pullright(url = "", credit = "", caption = "") %}
    <div class="imagebreak">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
            <img class="img-fluid" src="{{url}}" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">{{credit}}</div>
            <div class="containerPhotoCaption" alignment="true">{{caption}}</div>
        </div>
    </div>

{% endmacro %}

{% macro pullrightlarge(url = "", credit = "", caption = "") %}
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right largeRight"><img class="img-fluid" src="{{url}}" alt="" width="100%/">
<div class="containerPhotoCredit" alignment="true">{{credit}}</div>
<div class="containerPhotoCaption" alignment="true">{{caption}}</div>
</div>

{% endmacro %}

{% macro vertical(url = "", credit = "", caption = "") %}
</div>
</div>
<div class="row fullimage">
<div class="col-md-offset-1 col-md-10 col">
    <div class="imagebreak verticalImg">
        <img class="img-fluid" alt="" width="100%" src="{{url}}">
        <div class="containerPhotoCredit">{{credit}}</div>
        {% if caption %}
            <div class="containerPhotoCaption">{{caption}}</div>
        {% endif %}
        <!-- <div class="containerPhotoCaption">{{caption}}</div> -->
    </div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-8 col col-md-offset-2" alignment="true">
{% endmacro %}

{% macro inlineyoutube(url = "", credit = "", caption = "", youtube = "", name = "") %}

    <div class="imagebreak">
        <div class="img-fluid">
            <img class="img-fluid" src="{{url}}" alt="" width="100%/">
            <div class="embed-responsive embed-responsive-16by9 hideVideo">
                <iframe class="embed-responsive-item" src="{{youtube}}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
            </div>

            <div class="youtubebanner">
                <div class="play-button-outer">
                    <div class="play-button"></div>
                </div>
                Watch the interview with
                {{name}}
            </div>
            <div class="containerPhotoCredit" alignment="true">{{credit}}</div>
            <div class="containerPhotoCaption" alignment="true">{{caption}}</div>
        </div>

    </div>

{% endmacro %}
